body {
    background-color: black;
    font-family:"play", sans-serif;
    margin: 0px;
}

h1 {
    font-size: 40px;
    color: lightgray;
}

p {
    font-size: 21px;
    color: lightgray;
}

header{
    background-color: black;
    border-bottom: double 3px #9932CC;
    padding: 20px;
    font-size: 1.5rem;
    color: #8A2BE2;
}

section {
    background-image: linear-gradient(black, gray);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.texto {
    margin-right: 35px;
    
}

img {
    height: 200px;
}

.categoria-games {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    
}