body {
    background-image: linear-gradient(black, gray);
    color: lightgray;
    font-family:"play", sans-serif;
    margin: 0px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 21px;
}

header{
    border-bottom: double 3px #9932CC;
    padding: 20px;
    font-size: 1.5rem;
    color: #8A2BE2;
}